As of 12/Aug/2015 inspyred has a new observer that use email package. need to edit ec/observers.py and remove the class that uses this and the import
in order to get windows installer to be built (cx_freeze does not like freezing email module it seems)

using git: use git bash in windows. *********s

May have to patch oberver.py as so
#import email
import inspyred
import math
import os
#import smtplib
import time

-- and remove classes referring to email and smtplib
---

running from python prompt (or ide): call swmm_ea_controller.py

Creating a new version and distribute
a) Change the version details in swmm5ea/swmm_ea_controller.py
b) Change the version details in swmm/swmm/setup.py
Check everything and commit and push
git status
git commit -am "message"
git push origin master

How to distribute (pypi and binaries)

* Checklist
(a) Check the version in metadata.py Check other variables there too (e.g. those contribute to LIST_OF_FILE_GLOBS)
 
0. Use make html to build docoumentation from swmm5ea/doc directory. Make a zip file of swmm5ea/doc/_build/html directory (with index.html on root of the zip file). Destination somewhere outside the repo.
0.1 try the program on ide : call swmm_ea_controller.py
1. Build the stand-alone and windows binary versions
  python setup.py bdist_wininst
go to service; 
  python setup.py 
(this automatically run install.iss with innosetup  too.)\

Create a release on github (use github web interface). Zip and upload windows installer to the release page. 

upload to pypi with 
 twine upload --username xxxxxx  --password xxxxx <filename> 
filename - tar.gz and wininst
