Creating a new version and distribute
a) Change the version details in swmm5ea/swmm_ea_controller.py
b) Change the version details in swmm/swmm/setup.py
Check everything and commit
hg commit -m "message"
hg push

How to distribute

* Checklist
(a) Check the version in swmm_ea_controller.py Check other variables there too (e.g. those contribute to LIST_OF_FILE_GLOBS)
(b) If you change the google code password, check  ~/.googlecode.password file (cywgin) and update it. 

0. Use make html to build docoumentation from swmm5ea/doc directory. 
1. Build the stand-alone and windows binary versions
python setup.py bdist_wininst
go to service; python setup.py (this automatically run install.iss with innosetup  too)
(Best to get a fresh commandline for those two commands)
(step 1 can be done onnly in windows!)

** Do the following within cygwin system with gpg key ** 
2. go to swmm5-ea root (this directory)
python setup.py register sdist upload --sign
python setup.py register bdist_wininst upload --sign
(source and windows installer packages. Can be done both in windows or POSIX)
3. for swmm5-ea google code site hosts the instalable version (stand-alone). To upload it 
cd to service
./upload2google.bash Output/SWMM5_EA-x.y.z.k.exe
(If the server says "Forbidden (403)" that might mean there's already a file under that name. Confusing)
Delete the file and try again)